body {
  background-color: #2f3e46;
  margin: 50px;
  display: flex;
  flex-direction: row;
  padding: 80px;

  justify-items: center;
  width: auto;
  padding-top: 4px;
}
.main {
  border-style: dashed;
  height: 380px;
  width: auto;
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  text-align: left;
  border: 5px double black;
  position: fixed;
  margin-bottom: 50px;
  background-color: #cad2c5;
  border-radius: 20px;
  justify-content: left;
}
label {
  color: black;
  margin: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-left: 20px;
}
h1 {
  padding-bottom: 20px;
  text-align: center;
  font-weight: bolder;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
button {
  width: 300px;
  height: 30px;
  margin: 10px;
  border: solid black;
  border-radius: 20px;
  background-color: #2f3e46;
  padding-left: 2px;
  color: aliceblue;
}
input {
  width: 300px;
  height: 20px;
  margin: 10px;
  border: solid black;
  border-radius: 20px;
}
button:active {
  background-color: #cad2c5;
  color: black;
  border: none;
}
.text {
  color: aliceblue;
  background-color: #2f3e46;
}
